  <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="yamukBottom">  
  </div>
  
  <div class="bottom">
    <div class="container">
      
      <br><br><br>
       <div class="row">
        <div class="col-md-4">
        <h6 class="bottomTitle">Deep Visio</h6><br>
          <a  href="#" >Deep Visio</a>
          <a  href="#" >Deep Visio</a>
          
        </div>
         <div class="col-md-2">
              <h7 class="bottomTitle">ÜRÜNLER</h7><br>
          <a href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
        </div>
        <div class="col-md-2">
        <h7 class="bottomTitle">KAYNAKLAR</h7><br>
           <a href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
        </div>
        <div class="col-md-2">
             <h7 class="bottomTitle">DESTEK</h7><br>
        <a href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
        </div>
        <div class="col-md-2">
          <h7 class="bottomTitle">İLETİŞİM</h7><br>
          <a href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
          <a  href="#" >Deep Visio</a></br>
        </div>
      </div>
       <br><br><br>
          </div>
            
  </div>
