{% extends "layout.html" %}

{% block body %}
<h3>PEOPLE</h3>
<hr>
<p class="about">

 <div class="row">
      <div class="col-lg-4"><center>
      <img  src="{{url_for('static', filename='images/profil_ali_erbey.png')}}" align="middle" style="width:200px" />  
      <br><br>
        <h5>Öğr. Gör. Ali ERBEY</h5></center>
        <p>Department of Computer Programming,Distance Education Vocational School,Usak University, Usak, Turkey.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2></h2>
        <p></p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2></h2>
        <p></p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

Want to participate in our research? We are always looking for great talent. For details, please visit Contact page
<p>
<hr>
{% endblock body %}