{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p class="about">
I have been with the Computer Programming Department at Uşak University, Uşak, Turkey since March 2013. Before I joined Uşak University, I worked as an Information Tecnologiest Teacher for 5 years,MEB.
<br><br>
At the same time ,I have worked on various software development projects as a freelancer.

For my graduate study, I worked on smarthome technology.

I received my MSc degree in Internet and Information Technologies Management from Afyon Kocatepe University (Feburary 2015) and I completed my undergraduate degree at Anadolu University, Eskişehir, Computer Education and Instructional Technology Department.

Now I am currently a PhD candidate at Gazi University, Informatics Institute, departmant of Information System.
<br><br>
I began software developing in 2003. I’ve used various programming languages. See the following examples by year:
<br><br>
ASP (2003-2007)
Flash(Actionscript 2) (2006-2010)
ASP.NET(C#) (2008-20012)
Android (2013 – 2016)
NodeJS, MongoDB, Express, Angular (MEAN Stack) (2015) for REST Api
GOLANG (2016 – ?)
<p>
<hr>
{% endblock body %}